*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    padding: 10px;
    border-bottom: 1px solid black;
}

table, td{
    border: 1px solid black;
}
span 
{
    font-size: smaller;
}
html{
    background-color: rgb(255, 182, 193);
}